{

    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },

    "rules": {
        "no-mixed-requires": [0, false],
        "strict": [1, "never"],
        "no-undef": 2,
        "curly": 1,
        "no-bitwise": 1,
        "max-len": [1, 110, 4],
        "vars-on-top": 0,
        "guard-for-in": 1,
        "no-underscore-dangle": 0,

        "babel/object-shorthand": 1,

        "no-loop-func": 1,
        "no-multi-spaces": 1,
        "no-console": 0,
        "comma-dangle": [2, "never"],
        "indent": [2, 4],
        "quotes": [2, "single"],
        "semi": [2, "always"],
        "semi-spacing": [2, {"before": false, "after": true}],

        "brace-style": [2, "1tbs", { "allowSingleLine": true }],
        "key-spacing": [2,
            {
                "beforeColon": false,
                "afterColon": true
            }
        ],

        "new-cap": [1, {
            "newIsCap": true,
            "capIsNew": false,
            "newIsCapExceptions": []
        }],

        "space-after-keywords": [1, "always"],
        "space-before-blocks": [1, "always"],
        "space-in-parens": [1, "never"],
        "space-before-function-paren": [1, "never"],
        "space-infix-ops": [2, {"int32Hint": false}],
        "space-return-throw-case": 2,
        "max-nested-callbacks": [2, 5],
        "one-var": [0, "always"],

        "eol-last": 2
    },

    "ecmaFeatures": {
        "jsx": true,
        "arrowFunctions": true,
        "binaryLiterals": true,
        "blockBindings": true,
        "classes": true,
        "defaultParams": true,
        "destructuring": true,
        "forOf": true,
        "generators": true,
        "modules": true,
        "objectLiteralComputedProperties": true,
        "objectLiteralDuplicateProperties": true,
        "objectLiteralShorthandMethods": true,
        "objectLiteralShorthandProperties": true,
        "octalLiterals": true,
        "regexUFlag": true,
        "regexYFlag": true,
        "restParams": true,
        "spread": true,
        "superInFunctions": true,
        "templateStrings": true,
        "unicodeCodePointEscapes": true,
        "globalReturn": true
    },

    "plugins": [
        "babel"
    ],

    "globals": {
        "require": true,
        "describe": true,
        "beforeEach": true,
        "afterEach": true,
        "it": true,
        "expect": true
    }
}
